<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <style>
    body { padding-top: 70px;}
    </style>
    <!-- TODO You need to put your style imports here -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="containter-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Search Your Reps</a>
        </div>
      </div>
    </nav>

    <div ng-controller="MainCtrl as main" class="container">

      <form ng-submit="main.searchByZip(main.inputs.zip)" class="form-inline">
        <div class="form-group">
          <label for="zipcode">Search Senators and Representatives by zip code:</label>
          <input id="zipcode" class="form-control" type="string" ng-model="main.inputs.zip"/>
        </div>
         <button type="submit" class="btn btn-info">Submit</button>
      </form>

      <form ng-submit="main.searchSensByName(main.inputs.sensLastName)" class="form-inline">
      <div class="form-group">
        <label for="sen-last-name">Search Senitors by last name:</label>
        <input id="sen-last-name" class="form-control" type="string" ng-model="main.inputs.sensLastName" />
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      </form>

      <form ng-submit="main.searchSensByState(main.inputs.senState)" class="form-inline">
      <div class="form-group">
        <label for="sen-state">Search Senitors by state:</label>
        <input id="sen-state" class="form-control" type="string" ng-model="main.inputs.senState" />
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      </form>

      <form ng-submit="main.searchRepsByName(main.inputs.repsLastName)" class="form-inline">
      <div class="form-group">
        <label for="rep-last-name">Search Representatives by last name:</label>
        <input id="rep-last-name" class="form-control" type="string" ng-model="main.inputs.repsLastName" />
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      </form>

      <form ng-submit="main.searchRepsByState(main.inputs.state)" class="form-inline">
      <div class="form-group">
        <label for="rep-state">Search Representatives by state:</label>
        <input id="rep-state" class="form-control" type="string" ng-model="main.inputs.state" />
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      </form>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="rep in main.reps">
        <h4 class="list-group-item-heading">{{rep.name}}</h4>
        <p>State: {{rep.state}}</p>
      </ul>
      </div>
    </div>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
