<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <style>
    body { padding-top: 70px;}
    </style>
    <!-- TODO You need to put your style imports here -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="containter-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Search Your Reps</a>
        </div>
      </div>
    </nav>

    <div ng-controller="MainCtrl as main" class="container">

    <div class="radio">
      <label>
        <input type="radio" ng-model="main.congressType" value="reps"/>
        Representatives
    </div>

    <div class="radio">
      <label>
        <input type="radio" ng-model="main.congressType" value="sens"/>
        Senators
    </div>

    <form class="form-inline">
      <select class="form-control"
        ng-model="main.criteria"
        ng-options="item as item.label for item in main.apis"
        ng-change="main.input = ''">
      </select>
      <input class="form-control" type="text "ng-model="main.input" ng-disabled="main.loading"/>
        <button class="btn btn-info"
        ng-click="main.criteria.method(main.input)"
        ng-disabled="main.loading || !main.input"
        type="submit">
        Submit
        </button>
    </form>
    {{main.loading}}
    {{main.congressType}}

      <ul class="list-group">
        <li class="list-group-item" ng-show="main.loading">Loading...</li>
        <li class="list-group-item" ng-show="main.reps.length === 0 && !main.loading">No Results</li>
        <li class="list-group-item" ng-repeat="rep in main.reps">
        <h4 class="list-group-item-heading">{{rep.name}}</h4>
        <p>State: {{rep.state}}</p>
      </ul>
      </div>
    </div>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
